@model  IEnumerable<FTS.Model.Entities.TradeUnionRegistrationMasterModel>
@{
    ViewBag.Title = "Trade Union Registration Master";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <br />
    <section>
        <h3 style="font-weight:bold;"> @ViewBag.Title</h3>
    </section>       

    <div class="content-wrapper">
        <div class="row">           
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <div id="Filter" class="dataTables_filter float-right mx-3">
                                        <a id="Add" href="/TradeUnionRegistrationMaster/AddTradeUnionRegistrationMaster/?tradeunionid=" class="btn btn-outline-primary"><i class="fas fa-plus-circle mr-1"></i>Add New</a>
                                            </div>
                                    <table id="TradeUnionRegistrationList" class="display expandable-table" style="width:100%">
                                        <thead>
                                            <tr>                                               
                                                  <th style="width:20%;" id="tradeunionName">Trade Union Name</th>
                                                  <th  style="width:2%;" id="Edit">Action</th>                                                 
                                            </tr>
                                        </thead>
                                        <tbody>
                                             @foreach (var item in Model)
                                            {
                                                <tr>

                                                    @*<td valign="top" class="text-left">@item.RoleID </td>*@
                                                   @* <td valign="top" class="text-left">@item.RegistrationNo </td>*@
                                              @*  <td>
                                                     <a id="Edit" href="/RoleMaster/AddRoleMaster/?roleid=@item.EncryptedId" ><i class="fas fa-pen"></i></a>
                                                    <a id="Delete" onclick="return DeleteRoleRecord(@item.TradunionID);"><i class="fas fa-trash-alt"></i></a>
                                    </td>*@

                                                    
                                                    <td valign="top" class="text-left">@item.RegistrationName </td>
                                                <td>
                                                     <a id="Edit" href="/TradeUnionRegistrationMaster/AddTradeUnionRegistrationMaster/?tradeunionid=@item.EncryptedId" ><i class="fas fa-pen"></i></a>
                                                      <a id="Delete" onclick="DeleteConformation('DeleteTradeUnionRegistrationRecord('+@item.TradunionID+')')"><i class="fas fa-trash-alt"></i></a>
                                                      @* <a id="Delete" onclick="return DeleteTradeUnionRegistrationRecord(@item.TradunionID);"><i class="fas fa-trash-alt"></i></a>*@
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                
                                </div>
                            </div>                            
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

      $( document ).ready(function() {
       // TradeUnionRegistrationList();
        //$('#TradeUnionRegistrationList').DataTable();
        $('#TradeUnionRegistrationList').dataTable( {} );
    });

    
    function DeleteTradeUnionRegistrationRecord(tradeunionid) {
        debugger;
                var myData = {
                    TradunionID: tradeunionid,
                };
                $.ajax
                    ({
                        type: "POST",
                        url: "/TradeUnionRegistrationMaster/DeleteTradeUnionRegistrationRecord",
                        headers: {"XSRF-TOKEN": document.getElementsByName("__RequestVerificationToken")[0].value},
                        dataType: "json",
                        data: myData,
                        success: function(data) {
                            debugger;

                            if (data.data.ErrorCode == 0) {
                                swal(data.data.ErrorMassage)
                                .then((value) => {
                                    window.location.href = "/TradeUnionRegistrationMaster/Index";
                                });
                             }
                            else {
                                swal(data.data.ErrorMassage);
                             }
                            @*if (data.data.ErrorCode == 0) {
                                window.location.href = "/TradeUnionRegistrationMaster/Index";
                                alert(data.data.ErrorMassage);
                            }
                            else {
                                alert('Something went wrong!');
                            }*@

                        },

                         error: function (request, message, error) 
                        {
                            debugger; 
                            swal(request.responseJSON);
                          }
                    })
           
    }

        </script>

}
