 @model FTS.Model.Entities.EmployeeMasterModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="body">
    @Html.AntiForgeryToken()
    <div class="main-wrapper py-5">
            <div class="container-fluid">               
                <div class="content-box reg-box">
                    <div>
                          <img src="~/images/govtlogo.png" class="rounded mx-auto d-block pt-3" alt="logo">
                      <div class="content-header py-1">
                        <h3 class="text-center text-white mt-3" ><i class="fas fa-user mr-2"></i>
                          Change Password
                        </h3>
                      </div> 
                    </div>                    
                            <div class="content-body">
                                                              
                                 <div class="row form-group">
                                <label class="col-md-4 ">CurrentPassword<span class="text-danger"> *</span></label>
                                <div class="col-md-8">
                                    <span class="tooltip"> Password Must Contain Lowercase,Uppercase,Number  </span>
                                    @Html.TextBoxFor(e =>e.Password, new { @class = "form-control", type = "password",@ID="Password", placeholder = "Enter Current Password"})
                                    <i id="togglePassword" class="fa fa-eye"></i>
                                  
                                    <span class="text-danger ValidationSpan" id="SpanPassword" style="display:none;">Please Select Password </span>
                                    <span class="text-danger ValidationSpan" id="SpanvalidlowercasePassword" style="display:none;">Password must contain the following: A <b>lowercase</b> letter </span>
                                    <span class="text-danger ValidationSpan" id="SpanvalidUppercasePassword" style="display:none;">Password must contain the following: A <b>capital (uppercase)</b> letter</span>
                                    <span class="text-danger ValidationSpan" id="SpanvalidnumbersPassword" style="display:none;">Password must contain the following:A <b>number</b></span>
                                    <span class="text-danger ValidationSpan tooltiptext" id="SpanvalidPassword" style="display:none;">Plese Enter Password in Correct Format</span>
                                </div>
                            </div>
                                                                 
                             <div class="row form-group">
                                <label class="col-md-4 ">NewPassword<span class="text-danger"> *</span></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(e =>e.CPassword, new { @class = "form-control", type = "password",@ID="CPassword", placeholder = "Enter New Password" })
                                    <i id="togglePassword" class="fa fa-eye"></i>
                                   <span class="text-danger ValidationSpan" id="SpancPassword" style="display:none;">Please Select Password </span>
                                   <span class="text-danger ValidationSpan" id="SpanvalidlowercasecPassword" style="display:none;">Password must contain the following: A <b>lowercase</b> letter</span>
                                   <span class="text-danger ValidationSpan" id="SpanvalidUppercasecPassword" style="display:none;">Password must contain the following: A <b>capital (uppercase)</b> letter</span>
                                   <span class="text-danger ValidationSpan" id="SpanvalidnumberscPassword" style="display:none;">Password must contain the following:A <b>number</b></span>
                                   <span class="text-danger ValidationSpan" id="SpanvalidPassword" style="display:none;">Plese Enter Password in Correct Format</span>
                                  
                                </div>
                            </div>

                                                              
                             <div class="row form-group">
                                <label class="col-md-4">ConfirmNewPassword<span class="text-danger"> *</span></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(e =>e.CPassword, new { @class = "form-control", type = "Password",@ID="CPassword", placeholder = "Enter Confirm Password" })
                                    <i id="togglePassword" class="fa fa-eye"></i>
                                    <span class="text-danger ValidationSpan" id="SpanmatchPassword" style="display:none;">Password does not match.</span>
                                </div>
                            </div>

                            <div class="form-group">  
                                    <div class="d-md-flex d-block">
                                        <div class="col-md-12 text-center">
                                             <input type="button" id="btnsubmit" value="Change password" class="btn btn-primary" onclick="ApplicantPasswordChange();" />
                                        </div>
                                    </div>
                             </div>
             
                             </div>
                            </div>
                </div>
            </div>           
</div>
@*<div class="container">

    <h1 class="display-4 text-center">Change password</h1>

    <hr />
    <div class="row">

        <div class="col-md-4 offset-4">
            @if (ViewBag.IsSuccess == true)
            {
            <div class="alert alert-success" role="alert">
                Password has been updated successfully
            </div>
            }
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="col-md-3 ">CurrentPassword<span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(e =>e.Password, new { @class = "form-control", type = "password",@ID="Password", placeholder = "Enter current Password" })
                     <span class="text-danger ValidationSpan" id="SpanPassword" style="display:none;">Please Select Password </span>
                </div>
                <div class="form-group">
                     <label class="col-md-3 ">NewPassword<span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(e =>e.CPassword, new { @class = "form-control", type = "password",@ID="Password", placeholder = "Enter New Password" })
                     <span class="text-danger ValidationSpan" id="SpanPassword" style="display:none;">Please Select Password </span>
                </div>
                <div class="form-group">
                     <label class="col-md-3 ">ConfirmNewPassword<span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(e =>e.CPassword, new { @class = "form-control", type = "password",@ID="Password", placeholder = "Enter confirm Password" })
                     <span class="text-danger ValidationSpan" id="SpanPassword" style="display:none;">Please Select Password </span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Change password" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>*@
<script>

      $("input[type='checkbox']").on('change', function(){
       $(this).val(this.checked ? "true" : "false");
       })
     
        function SubmitEmployeeMaster() {
            debugger;
             var ErrorCnt = 0;
            $('.ValidationSpan').hide();


             if ($("#Password").val() == "0" || $("#Password").val() == "") {
                ErrorCnt++;
                $('#SpanPassword').show();
          
            if (ErrorCnt > 0) {
                return false;
            }


            if (ErrorCnt == 0) {
                var myData = {
                    Password: $('#Password').val(),
                    CPassword : $('#CPassword').val()
                };
                $.ajax
                    ({
                        type: "POST",
                        url: "/EmployeeLoginMaster/ChangeEmployeePassword",
                        dataType: "json",
                        data: myData,
                        success: function(data) {
                            debugger;

                            
                            if (data.data.ErrorCode == 0) {
                                swal(data.data.ErrorMassage)
                                .then((value) => {
                                    window.location.href = "/Dashboard/Index";
                                });
                            }
                            else {
                                swal(data.data.ErrorMassage);
                            }



                            //if (data.data.ErrorCode == 0) {
                            //    window.location.href = "/Dashboard/Index";
                            //    alert(data.data.ErrorMassage);
                            //}
                            //else {
                            //     alert(data.data.ErrorMassage);
                            //}

                        },

                        error: function (request, message, error) 
                        {
                            debugger; 
                            swal(request.responseJSON);
                          }
                    })
            }
    }
   </script>