@model IEnumerable<FTS.Model.Entities.ApplicationRegistrationModel>
@{
    ViewBag.Title = "Application Registration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <br />
    <section>
        <h3 style="font-weight:bold;"> @ViewBag.Title</h3>
    </section>

    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    @*<div id="Filter" class="dataTables_filter float-right mx-3">
                                <a id="Add" href="/ApplicationRegistration/AddApplicationRegistration/?id=" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i>Add New</a>
                                <br>
                                <br>
                                </div>*@
                                    <table id="ApplicationList" class="display expandable-table" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th style="width:2%;" id="roleName">ID</th>
                                                <th style="width:5%;" id="roleName">AppID</th>
                                                <th style="width:5%;" id="roleName">user Mode</th>
                                                <th style="width:20%;" id="roleName">Name</th>
                                                <th style="width:20%;" id="roleName">Application Date</th>
                                                <th style="width:20%;" id="roleName">Status</th>
                                                <th style="width:20%;" id="roleName">Type</th>
                                                <th style="width:2%;" id="Edit">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    @*<td valign="top" class="text-left">@item.RoleID </td>*@
                                                    <td valign="top" class="text-left">@item.ID </td>
                                                    <td valign="top" class="text-left">@item.AppID </td>
                                                    <td valign="top" class="text-left">@item.ApplicationMode </td>
                                                    <td valign="top" class="text-left">@item.EstablishmentName </td>
                                                    <td valign="top" class="text-left">@item.AppDate </td>
                                                    <td valign="top" class="text-left">@item.Status </td>
                                                    <td valign="top" class="text-left">@item.Applicationtype</td>
                                                        <td>
                                                        @if(@item.ActionCode != 3 && @item.ActionCode != 2)
                                                           {
                                                        <a id="Edit" href="/ApplicationRegistration/_ApplicationRegistrationDetail/?id=@item.EncryptedId&ISAL=1&ISDL=0"><i class="fas fa-pen"></i></a>
                                                            @* <a id="Delete" onclick="return DeletePositionRecord(@item.ApplicationID);"><i class="fas fa-trash-alt"></i></a>*@
                                                            <a data-toggle="modal" data-target="#exampleModal_@item.ID" id="DivAssign"><i class="fas fa-comments"></i></a>

                                                            <div class="modal fade" id="exampleModal_@item.ID">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title">
                                                                                Please Enter your Query
                                                                            </h5>
                                                                            <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">
                                                                                    ×
                                                                                </span>
                                                                            </button>

                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="col-md-6">
                                                                                        <textarea id="Comments_@item.ID" name="w3review" rows="4" cols="50">@item.Comments</textarea>
                                                                                        <span class="text-danger ValidationSpan" id="Spancomment_@item.ID" style="display:none;">Please Enter Comment</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>


                                                                        </div>

                                                                        @* Applicant Not showing *@
                                                                        @if (@item.UserMode == 1)
                                                                        {
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                                    Close
                                                                                </button>

                                                                                <button type="button" class="btn btn-secondary"
                                                                        onclick="QuerySave(@item.ID,'@item.EncryptedId')">
                                                                                    save
                                                                                </button>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <a id="View" href="/ApplicationRegistration/_ApplicationRegistrationDetail/?id=@item.EncryptedId&ISAL=1&ISDL=0&ISView=1"><i class="fas fa-eye"></i></a>
                                                        }
                                                        </td>
                                                    
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function() {
            $('#ApplicationList').dataTable({});
        });


        function QuerySave(id, ApplicationID) {
            debugger;

            var Comments = $('#Comments_' + id).val();

            var ErrorCnt = 0;
            $('.ValidationSpan').hide();

            if ($("#Comments_" + id).val() == "0" || $("#Comments_" + id).val() == "") {
                ErrorCnt++;
                $("#Spancomment_" + id).show();
            }

            if (ErrorCnt > 0) {
                return false;
            }

            if (ErrorCnt == 0) {

                var myData = {
                    Comments: Comments,
                    id: ApplicationID,
                    URL: document.URL
                };
                $.ajax
                    ({
                        type: "POST",
                        url: "/ApplicationRegistration/SendtoCommentFromACL",
                        headers: { "XSRF-TOKEN": document.getElementsByName("__RequestVerificationToken")[0].value },
                        dataType: "json",
                        data: myData,
                        success: function (data) {
                            debugger;


                            if (data.data.ErrorCode == 0) {
                                swal(data.data.ErrorMassage)
                                    .then((value) => {
                                        window.location.href = "/ApplicationRegistration/ApplicationRegistrationAClList";
                                    });
                            }
                            else {
                                swal(data.data.ErrorMassage);
                            }

                        },
                        error: function (request, message, error) {
                            debugger;
                            swal(request.responseJSON);
                        }
                    })

            }

        }

    </script>

}
