@model  IEnumerable<FTS.Model.Entities.DistrictMasterModel>
@{
    ViewBag.Title = "District Master";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <br />
    <section>
        <h3 style="font-weight:bold;"> @ViewBag.Title</h3>
    </section>       

    <div class="content-wrapper">
        <div class="row">           
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <div id="Filter" class="dataTables_filter float-right mx-3">
                                        <a id="Add" href="/DistrictMaster/AddDistrictMaster/?districtid=" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i>Add New</a>
                                            </div>
                                    <table id="DistrictList" class="display expandable-table" style="width:100%">
                                        <thead>
                                            <tr>
                                                @* <th style="width:2%;" id="roleID">Role ID</th>*@
                                                  <th style="width:20%;" id="districtName">District Name</th>
                                                  <th  style="width:2%;" id="Edit">Action</th>
                                                 
                                            </tr>
                                        </thead>
                                        <tbody>
                                             @foreach (var item in Model)
                                        {
                                            <tr>
                                                @*<td valign="top" class="text-left">@item.RoleID </td>*@
                                                <td valign="top" class="text-left">@item.DistrictName </td>
                                                <td>
                                                     <a id="Edit" href="/DistrictMaster/AddDistrictMaster/?districtid=@item.EncryptedId" ><i class="fas fa-pen"></i></a>
                                                   @* <a id="Delete" onclick="return DeleteDistrictRecord(@item.DistrictID);"><i class="fas fa-trash-alt"></i></a>*@
                                                    <a id="Delete" onclick="DeleteConformation('DeleteDistrictRecord('+@item.DistrictID+')')"><i class="fas fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <script>

      $( document ).ready(function() {
       // DistrictList();
        //$('#DistrictList').DataTable();
        $('#DistrictList').dataTable( {} );
    });

    
    function DeleteDistrictRecord(districtID) {
        debugger;
                var myData = {
                    DistrictId: districtID,
                };
                $.ajax
                    ({
                        type: "POST",
                        url: "/DistrictMaster/DeleteDistrictRecord",
                        headers: {"XSRF-TOKEN": document.getElementsByName("__RequestVerificationToken")[0].value},
                        dataType: "json",
                        data: myData,
                        success: function(data) {
                            debugger;
                            if (data.data.ErrorCode == 0) {
                                swal(data.data.ErrorMassage)
                                .then((value) => {
                                    window.location.href = "/DistrictMaster/Index";
                                });
                            }
                            else {
                                swal(data.data.ErrorMassage);
                            }

                            @*if (data.data.ErrorCode == 0) {
                                window.location.href = "/DistrictMaster/Index";
                                alert(data.data.ErrorMassage);
                            }
                            else {
                                alert('Something went wrong!');
                            }*@

                        },

                         error: function (request, message, error) 
                        {
                            debugger; 
                            alert(request.responseJSON);
                          }
                    })
           
    }

        </script>

}

