 @model FTS.Model.Entities.ApplicantMasterModel
@{
    ViewData["Title"] = "ChangePassword Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card">

    <div class="card-header">
        <h3 class="card-title">
           CHANGE PASSWORD
        </h3>
    </div>

<div class="card-body">

    <div class="box-body"> 
        <div class="row">
            <div class="col-lg-12">
                <div class="form-validate form-horizontal" id="feedback_form">

                    <div class="form-group-required">
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 pull-right text-right text-danger"><span class="required">All <span class="text-danger">*</span> fields are compulsory</span></div>
                    </div>

                     <p> @ViewBag.errormessage</p>
                      

       

          @*Form*@
        <form asp-controller="Profile" asp-action="ChangeEmployeePassword" asp-antiforgery="true" method="post">
               @* <div class="form-group">
                    <label class="col-md-3 ">CurrentPassword<span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(e =>e.Password, new { @class = "form-control", type = "password",@ID="Password", placeholder = "Enter New Password" })
                     <span class="text-danger ValidationSpan" id="SpanPassword" style="display:none;">Please Select Password </span>
                </div>*@
                <div class="row form-group">
                                <label class="col-md-3 ">CurrentPassword<span class="text-danger"> *</span></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(e =>e.Password, new { @class = "form-control", type = "password",@ID="Password", placeholder = "Enter Current Password" })
                                    @Html.ValidationMessageFor(x => x.Password)
                                    <span class="text-danger ValidationSpan" id="SpanPassword" style="display:none;">Please Enter Password </span>
                                </div>
                 </div>

                 <div class="row form-group">
                                <label class="col-md-3 ">NewPassword<span class="text-danger"> *</span></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(e =>e.CPassword, new { @class = "form-control", type = "password",@ID="Password", placeholder = "Enter New Password" })
                                    @Html.ValidationMessageFor(x => x.Password)
                                    <span class="text-danger ValidationSpan" id="SpanNewPassword" style="display:none;">Please Enter New Password </span>
                                </div>
                 </div>
                  

                 <div class="row form-group">
                                <label class="col-md-3 ">ConfirmNewPassword<span class="text-danger"> *</span></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(e =>e.CPassword, new { @class = "form-control", type = "Password",@ID="CPassword", placeholder = "Enter Confirm Password" })
                                    @Html.ValidationMessageFor(x => x.Password)
                                    <span class="text-danger ValidationSpan" id="SpanmatchPassword" style="display:none;">Please Enter ConfirmNew  Password </span>
                                </div>
                 </div>


               @* <div class="form-group">
                     <label class="col-md-3 ">NewPassword<span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(e =>e.CPassword, new { @class = "form-control", type = "password",@ID="Password", placeholder = "Enter New Password" })
                     <span class="text-danger ValidationSpan" id="SpanPassword" style="display:none;">Please Select Password </span>
                </div>*@
                @*<div class="form-group">
                     <label class="col-md-3 ">ConfirmNewPassword<span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(e =>e.CPassword, new { @class = "form-control", type = "password",@ID="Password", placeholder = "Enter New Password" })
                     <span class="text-danger ValidationSpan" id="SpanPassword" style="display:none;">Please Select Password </span>
                </div>*@
                <div class="form-group">
                    <input type="submit" value="Change password" class="btn btn-primary"  />
                </div>


            </form>

        @*Form End*@
           </div>
        </div>
      </div>
          </div>
      
        </div>
    </div>


<script>

      $("input[type='checkbox']").on('change', function(){
       $(this).val(this.checked ? "true" : "false");
       })
     
        function changeApplicantMaster() {
            debugger;
             var ErrorCnt = 0;
            $('.ValidationSpan').hide();

            if ($("#CPassword").val() == "0" || $("#CPassword").val() == "") {
            ErrorCnt++;
           $('#SpanNewPassword').show();
    }
             if ($("#Password").val() == "0" || $("#Password").val() == "") {
                ErrorCnt++;
                $('#SpanPassword').show();

                else if ($("#Password").val() != $("#CPassword").val()) {
               ErrorCnt++;
               $('#SpanmatchPassword').show();
    }
          
            if (ErrorCnt > 0) {
                return false;
            }


            if (ErrorCnt == 0) {
                var myData = {
                    Password: $('#Password').val(),
                    CPassword : $('#CPassword').val()
                };
                $.ajax
                    ({
                        type: "POST",
                        url: "/EmployeeLoginMaster/ChangeEmployeePassword",
                        headers: {"XSRF-TOKEN": document.getElementsByName("__RequestVerificationToken")[0].value},
                        dataType: "json",
                        data: myData,
                        success: function(data) {
                            debugger;
                            if (data.data.ErrorCode == 0) {
                                window.location.href = "/Dashboard/Index";
                                alert(data.data.ErrorMassage);
                            }
                            else {
                                 alert(data.data.ErrorMassage);
                            }

                        },

                        error: function() {
                            alert('Something went wrong!');
                        }
                    })
            }
    }
   </script>